.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: 1px solid #ddd;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.header .title {
  margin: 0;
  color: black;
  font-size: 2em;
}

.header .nav {
  display: flex;
  gap: 20px;
}

.header .nav .link {
  color: white;
  text-decoration: none;
  background-color: #007BFF;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header .nav .link:hover {
  background-color: #0056b3;
}